html {
  color: darkblue;
}
.logo {
  float: left;
  width: 100%;
  height: auto;
  max-width: 76px;
}
.clear {
  clear: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  padding-left: 10px;
  margin: 20px;
  /*background-image: url(../img/Reiki_Symbols.jpg) ;*/
  background-position: center right;
}

#container {
  width: 1200px;
  border: 3px solid red;
  display: flex;
  flex-direction: row-reverse;
 }
  .left,
  .right,
  .main {
    flex: 1;
  }

header {
  border: 3px solid blue;
  background-image: url(../img/Reiki_Symbols.jpg);
}
figure {
  display: inline-flex;
  width: 100%;
  border: 5px #f80202 solid;
  padding: 4px;
  margin: auto;
  flex: 1;
}
figcaption {
  width: 25%;
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
img {
  width: 25%;
}
.wraper {
  display: flex;
}
