body {
  background-color: #000;
  color:#ff6161;
}
header {

width: auto;
height: auto;
background-color: #fff;
}
H2 {
  text-align: center;
  font-size:6em; 
}
.container {
  width: 95%;
display: flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
border:6px solid greenyellow ;
margin: 20px;
padding: 20px;
box-sizing: border-box;
border-radius: 15%;


}
.left,
.right,
.main {
  flex-basis: auto;
  flex: 1;
  border: 3px solid blue;
}

img {
  width: 100%;
}

.me {

text-transform: uppercase;
color: darkblue;
font-family: Georgia, 'Times New Roman', Times, serif;

}
.wraper {
width: 90%;
/*height: auto;*/
margin: 20px;
padding: 20px;
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
border: 9px solid purple ;
border-radius: 10%;
justify-content:space-around;


}
.pnum2, .pnum3, .pnum3a {
  

  
  flex: 1 1 50%;
  
  margin: 35px;
padding: 25px;
font-size: 3.5em;
letter-spacing: 0.25em;
text-align: center;
/*flex-basis: 90%;*/
/*border: 3px solid white;*/
}
.pnum2 {
  
 order: 1;
 color: #26fd46

}
.pnum3 {
order:3;
color: #ff6161;
}
.pnum3a {
  order: 2;
  color: #b8b8ff;
}
footer {
  text-align: center;
  color:rgba(210, 105, 30, 0.24)
/*font-size:0.15em;*/
}